# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.dist/
.vite/
*.local

# Environment & Secrets
.env
.env.local
.env.production

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
